@font-face {
  font-family: 'tuhu';
  src: url('./fonts/851CHIKARA-DZUYOKU_kanaA_004.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'tuhu';
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  outline: none;
  border: 0px none black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}